html{
    background: url(Background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#searchbar{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
}

#barChart {
    pointer-events: none;
}