html{
    background: url(Background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.logoNbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    transition: all 2s ease;
}

.logoNbar-active {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

a {
    color: darkgreen !important;
}


.transform {
    width: 30%;
    transition: all 2s ease;
}

.transform-active {
    width: 15%;
}

#searchbar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button {
    margin-left: 5px;
}

#container {
    display: none;
    flex-direction: row-reverse;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 5px;
}

#img {
    height: 150px;
}

.chart-container {
    position: absolute;
    left: auto;
    margin-right: 120px;
    margin-top: 63.7px;
     
}

#input::placeholder {
    color: darkslategray;
}

#barChart {
    pointer-events: none;
}

.autocomplete {
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

